/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    margin:0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

/* .header-container {
    border-bottom: 20px solid #e44d26;
} */

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}
.header-container{
    text-align: center;
}
.header-container input{
    margin-top:8px;
    height: 30px;
    min-width: 200px;
    font-size: 18px;
}
.popup input{
    margin-top:8px;
    height: 30px;
    min-width: 200px;
    font-size: 18px;
}
.popup {
    text-align: center;
}
.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 50px;
        margin: 8px;
        padding: 25px 2%;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 100%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.tag {
    display: inline-block;
    width: auto;
    height: auto;
    /* min-height: 6.5em; */
    margin: 8px;
  
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding:5px;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .tagc {
    display: inline-block;
    width: auto;
    height: auto;
    /* min-height: 6.5em; */
    margin: 8px;
  
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding:5px;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .tagc:hover{
      cursor: pointer;
  }
  .drag{
      position: absolute;
  }
  
  #drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
  }
p{
    margin: 0;
}
.next{
    position: fixed;
    bottom:10px;
    right: 10px;
    width:40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}
  .sticky {
    z-index: 300;
    position: fixed; 
    top: 300px;
    right:0;
    margin: 0;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px 0 40px 0;
    border-radius: 10px 0px 0px 10px;
   }
   .stickyTop{
    position: fixed; 
    top: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    z-index: 300;
   }
   .nav-up {
    top: -120px;
}
.nav-up-side{
    right:-60px;
}

.emoji img{
    width:40px;
    padding: 5px 10px 5px 10px;
    display: block;
}

.highlight {
	background: #FFCC00;
}
.popup{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 500px;
    height: 200px;
    border-radius: 5px;
}
.tagnew{
    display: inline-block;
    width: auto;
    height: auto;
    /* min-height: 6.5em; */
    margin: 8px;
  
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding:5px;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}
.popup i::before{
    font-size: 24px;
    line-height: 36px;
    color: green;
    background-color: white;
    border-radius: 12px;
}
.header-container i::before{
    font-size: 24px;
    line-height: 35px;
    height: 20.56px;
    color: green;
    background-color: white;
    border-radius: 12px;
}
.emojinew img{
    width:40px;
}
.emoji:hover{
    cursor: move;
}
.emojinew:hover{
    cursor: move;
}
.comment{
    /* background-color: rgba(0, 0, 0, 0.2); */
    position: absolute;
    /* width: 500px;
    height: 200px;
    border-radius: 5px; */
}
.static-content.static-fullscape {
    max-width: 100%;
}
.style-is-grid {
    display: flex;
    flex-wrap: wrap;
}
.item-list {
    float: left;
    transition: opacity .2s ease-in;
    width: 100%;
    background-color: #fff;
}
.clear {
    clear: both;
}
.style-is-grid {
    margin-top: 0;
}
.static-grid {
    text-align: center;
}
.static-content, .static-yoyo .landing-wrap, .static-grid .landing-wrap, .static-form .landing-wrap, .static-img-wrap .landing-wrap, .static-item-list, .static-social, .text-block, .video-wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 36px 0;
    overflow: hidden;
}
.layout-33-33-33>.col1, .layout-33-33-33>.col2, .layout-33-33-33>.col3 {
    width: 33%;
}
.col1, .col2, .col3, .col4 {
    float: left;
}
.static-grid .landing-wrap>* {
    padding: 0 0px;
}

.layout-25>.col1, .layout-25>.col2, .layout-25>.col3, .layout-25>.col4 {
    width: 20%;
}
.static-yoyo .landing-wrap.layout-reverse>.col1 {
    padding-right: 15px;
    padding-left: 30px;
}
.layout-60-40>.col1 {
    width: 60%;
}
.layout-reverse>.col1 {
    float: right;
}
.static-yoyo .landing-wrap>.col1 {
    padding: 0 30px 0 15px;
}
.col1 img, .col2 img, .col3 img, .col4 img {
    max-width: 100%;
}

.unstarted-mode:not(.playing-mode) .ytp-cued-thumbnail-overlay:not([aria-hidden=true]), .ended-mode .ytp-cued-thumbnail-overlay:not([aria-hidden=true]) {
    cursor: pointer;
}
.ytp-cued-thumbnail-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.static-content, .static-yoyo .landing-wrap, .static-grid .landing-wrap, .static-form .landing-wrap, .static-img-wrap .landing-wrap, .static-item-list, .static-social, .text-block, .video-wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 36px 0;
    overflow: hidden;
}
.video-embed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-container{
    margin-top: 100px;
}
.layout-60-40>.col2 {
    width: 40%;
}
.bk-article-title img {
    width: 850px;
}
.l-wrapper {
    margin: 0 auto;
    max-width: 1100px;
}
.l-feature {
    margin: 0 auto;
    max-width: 762px;
    padding: 16px;
}
.e-image .c-dynamic-image.lazy-loaded, .e-image__image.lazy-loaded, .e-image img.lazy-loaded {
    max-width: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.bk-w {
    width: 1300px;
    margin: 0 auto;
    height: 100%;
}
.bk-article-titleimg img {
    width: 100%;
}
.article-padd .wrapper>p, .article-padd .ng-binding>p, .article-padd .wrapper>ol, .article-padd .wrapper>ul, .article-padd .ng-binding>ol, .article-padd .ng-binding>ul {
    padding: 0 260px 25px;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #343434;
}
.bk-article-title {
    color: #000;
    padding: 70px 200px 0 0;
    font-size: 60px;
    line-height: 1em;
    letter-spacing: -1.5px;
}
.box {
    display: table;
    margin-bottom: 40px;
    float: left;
    clear: both;
    width: 100%;
}
.news-article .box>img {
    width: 100%;
}
.detail .post p {
    font-size: 19px;
    line-height: 1.6;
    color: #6d6d6d;
    margin-bottom: 40px;
}
.detail .post {
    max-width: 700px;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.panographic-image img {
    width: 100%;
}